.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.repo-title {
    margin-bottom: 20px;
    font-size: 36px;
}